:host {
    display: flex;
    flex-flow: column;
    background-color: white;

    .container {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}